footer {
    background: #171717;
    grid-area: footer;
    color: #919191;
}

.footer {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "copyrights terms language";
}

.copyrights {
    grid-area: copyrights;
}
.terms {
    grid-area: terms;
}
.language {
    grid-area: language;
}