
.icons ul li {
    display: inline;
}

  .rectangle {
      display: grid;
      grid-template-columns: .5fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 
      "fa-thumbs-up like num";
      height: 21px;
      width: 80px;
      border-radius: 2px;
      padding: 4px 2px 0px 6px;
      background-color: #456DB0;
    //   text-align:justify;

  }

  .likes_follow {
    text-align:justify;
  }


.fa-thumbs-up {
    width: 22px;
    height: 22px;
    text-align:justify;
    grid-area: fa-thumbs-up;
}

.like {
    color: #fff;
    text-align:justify;
    font-size: 13px;
    grid-area: like;
}

.num {
    color: #fff;
    text-align:justify;
    font-size: 13px;
    grid-area: num;
}