@import './my_cart';
@import './save';

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "my_cart"
    "save";
    grid-area: main;
}
