main {
    grid-area: main;
}

.my_cart {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: .57fr 1fr 1fr 1fr 1fr 1fr 1fr .3fr;
    grid-template-areas:
        "my_cart_h1"
        "song_1"
        "song_2"
        "continue"
        "save_later"
        "song_3"
        "song_4"
        "song_5"
        "song_5_empty";
}

.my_cart_h1 {
    grid-area: my_cart_h1;
}

.song_1 {
    grid-area: song_1;
}


.song_1_inner {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "song_1_img mt_logo credits";
}

.song_1_img {
    grid-area: song_1_img;
}

.mt_logo {
    grid-area: mt_logo;
}

.credits {
    grid-area: credits;
}

.song_2 {
    grid-area: song_2;
}

.song_2_inner {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "song_2_img chart credits2";
}

.song_2_img {
    grid-area: song_2_img;
}

.chart {
    grid-area: chart;
}


.continue {
    grid-area: continue;
}

// This is the second half of the main card that holds 3 songs
.save_later {
 
    grid-area: save_later;
}

.song_3 {
    grid-area: song_3;
}

.song_3_inner {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "song_3_img mt_l add_cart";
}

.song_4 {
    grid-area: song_4;
}

.song_4_inner {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "song_4_img mt_l4 add_cart4";
}

.song_5 {
    grid-area: song_5;
}

.song_5_inner {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "song_5_img mt_l5 add_cart5";
    }

.song_5_empty {
    grid-area: song_5;
}