
.my_cart {
    display: grid;
 
    grid-template-columns: 1fr;
    grid-template-rows: .57fr 1fr 1fr 1fr;
    grid-template-areas:
        "my_cart_h1"
        "song_1"
        "song_2"
        "continue";
        grid-area: my_cart;
}

.my_cart_h1 {
    width: 121px;
    height: 24px;
    padding: 21px;
    grid-area: my_cart_h1;
}

.song_1 {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "song_1_img mt_logo credits";
    grid-area: song_1;
    padding: 21px;
}


.song_1_img {
    grid-area: song_1_img;
}

.mt_logo {
    grid-area: mt_logo;
}

.credits {
    grid-area: credits;
}

.song_2 {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "song_2_img chart credits2";
    grid-area: song_2;
    padding: 21px;
}


.song_2_img {
    grid-area: song_2_img;
}

.chart {
    grid-area: chart;
}


.continue a {
    color: #43B1E6;
    grid-area: continue;
}

