@import './drop_down';
@include drop_down(products);
@include songs(songs);
@include sounds(sounds);
@include more(more);

nav {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr .3fr .3fr .3fr .3fr .3fr .3fr 1fr 1fr 1fr 1fr .3fr .3fr .3fr .3fr;
    grid-template-rows:
    1fr;
    grid-template-areas:
    "nav_logo products songs sounds pricing more covid . . . . account cart support help_center";
    padding: 15px 10px 10px 10px;
    grid-area: nav;
    border: 1px solid #DADADA;
}

.nav_logo {
    height: 100%;
    margin-top: -6px;
    grid-area: nav_logo;
}

.products {
    grid-area: products;
}

.sounds {
    grid-area: sounds;
}

.songs {
    grid-area: songs;
}

.pricing {
    text-align: left;
    grid-area: pricing;
}

.pricing a:hover{     
    color: #43B1E6;
}

.more {
    grid-area: more;
}

.covid {
    text-align: left;
    grid-area: covid;
    color: #43B1E6;
}

.account {
    grid-area: account;
}

.account a:hover{     
    color: #43B1E6;
}

.cart {
    grid-area: cart;
}

.cart a:hover{     
    color: #43B1E6;
}

.support {
    grid-area: support;
}

.support a:hover{     
    color: #43B1E6;
}

.help_center {
    grid-area: help_center;
}
