@import './buttons/social_buttons';



.social_icons {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "icons social_buttons";
}
.icons {
display: inline;
grid-area: icons;
}

.icons ul li {
    display: inline;
}


// .icons ul li a span .fa-facebook:hover {
//   color: #43B1E6;
// }
 
.icons ul li a Span i:hover {
  color: #43B1E6;
}

.icons ul li a i {
  color: #282828;
}  


