@import './buttons/like_button';
@import './buttons/follow_button';

.social_icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "icons like_button follow_button";
  grid-area: social_icons;
}

.icons {
display: inline;
grid-area: icons;
}

.icons ul li {
    display: inline;
}

.like_button {
    grid-area: like_button;
}

.follow_button {
    grid-area: follow_button;
}