.dropdown {
  grid-area: products;
}

.dropdown ul {
  float: left;
}

.dropdown ul li {
  float: left;
  list-style: none;
  position: relative;
}

.dropdown ul li a {
  display: block;
  font-size: 16px;
}

.dropdown ul li a:hover {
  color: #43B1E6;
}

.dropdown ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px solid #dadada;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px 5px 5px 5px;
}

.dropdown ul li:hover ul {
  display: block;
}

.dropdown ul li ul li a {
  width: 241px;
  padding: 10px 14px;
}

.dropdown ul li ul li a:hover {
  background: #FAFAFA;
  border-radius: 4px;
  color: #43B1E6;
}

.songs {
  grid-area: songs;
}

.songs ul {
  float: left;
}

.songs ul li {
  float: left;
  list-style: none;
  position: relative;
}

.songs ul li a {
  display: block;
  font-size: 16px;
}

.songs ul li a:hover {
  color: #43B1E6;
}

.songs ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px solid #dadada;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px 5px 5px 5px;
}

.songs ul li:hover ul {
  display: block;
}

.songs ul li ul li a {
  width: 241px;
  padding: 10px 14px;
}

.songs ul li ul li a:hover {
  background: #FAFAFA;
  border-radius: 4px;
  color: #43B1E6;
}

.sounds {
  grid-area: sounds;
}

.sounds ul {
  float: left;
}

.sounds ul li {
  float: left;
  list-style: none;
  position: relative;
}

.sounds ul li a {
  display: block;
  font-size: 16px;
}

.sounds ul li a:hover {
  color: #43B1E6;
}

.sounds ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px solid #dadada;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px 5px 5px 5px;
}

.sounds ul li:hover ul {
  display: block;
}

.sounds ul li ul li a {
  width: 241px;
  padding: 10px 14px;
}

.sounds ul li ul li a:hover {
  background: #FAFAFA;
  border-radius: 4px;
  color: #43B1E6;
}

.more {
  grid-area: more;
}

.more ul {
  float: left;
}

.more ul li {
  float: left;
  list-style: none;
  position: relative;
}

.more ul li a {
  display: block;
  font-size: 16px;
}

.more ul li a:hover {
  color: #43B1E6;
}

.more ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px solid #dadada;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px 5px 5px 5px;
}

.more ul li:hover ul {
  display: block;
}

.more ul li ul li a {
  width: 241px;
  padding: 10px 14px;
}

.more ul li ul li a:hover {
  background: #FAFAFA;
  border-radius: 4px;
  color: #43B1E6;
}

nav {
  display: grid;
  text-align: center;
  grid-template-columns: 2.5fr 0.8fr 0.8fr 0.5fr 0.8fr 0.4fr 0.8fr 3.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav_logo products songs sounds pricing more covid . account cart support help_center";
  padding: 15px 10px 10px 10px;
  grid-area: nav;
  border: 1px solid #DADADA;
}

.nav_logo {
  height: 100%;
  margin-top: -6px;
  grid-area: nav_logo;
}

.products {
  grid-area: products;
}

.sounds {
  grid-area: sounds;
}

.songs {
  grid-area: songs;
}

.pricing {
  grid-area: pricing;
}

.pricing a:hover {
  color: #43B1E6;
}

.more {
  grid-area: more;
}

.covid {
  grid-area: covid;
  color: #43B1E6;
}

.account {
  grid-area: account;
}

.account a:hover {
  color: #43B1E6;
}

.cart {
  grid-area: cart;
}

.cart a:hover {
  color: #43B1E6;
}

.support {
  grid-area: support;
}

.support a:hover {
  color: #43B1E6;
}

.help_center {
  grid-area: help_center;
}

.my_cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 2fr 2fr;
  grid-template-areas: "my_cart_h1" "song_1" "song_2" "continue";
  grid-area: my_cart;
}

.my_cart_h1 {
  width: 121px;
  height: 24px;
  padding: 21px;
  grid-area: my_cart_h1;
}

.song_1 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_1_img mt_logo credits";
  grid-area: song_1;
  border-bottom: 1px solid #DADADA;
  margin-top: 10px;
  margin-left: 20px;
}

.song_1_img {
  grid-area: song_1_img;
}

.mt_logo {
  grid-area: mt_logo;
}

.credits {
  grid-area: credits;
}

.song_2 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_2_img chart credits2";
  grid-area: song_2;
  border-bottom: 1px solid #DADADA;
  margin-top: 20px;
  margin-left: 20px;
}

.song_2_img {
  grid-area: song_2_img;
}

.chart {
  grid-area: chart;
}

.continue a {
  position: absolute;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 145px;
  height: 24px;
  left: 24px;
  top: calc(50% - 12px);
  color: #43B1E6;
  grid-area: continue;
  margin-top: 30px;
}

.remove {
  color: #828282 !important;
}

.save {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.3fr;
  grid-template-areas: "save_later" "song_3" "song_4" "song_5" "song_5_empty";
  grid-area: save;
}

.save_later {
  padding: 21px;
  grid-area: save_later;
}

.song_3 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_3_img mt_l add_cart";
  grid-area: song_3;
  border-bottom: 1px solid #DADADA;
  margin-left: 20px;
  margin-top: 10px;
}

.song_4 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_4_img mt_l4 add_cart4";
  grid-area: song_4;
  border-bottom: 1px solid #DADADA;
  margin-top: 50px;
  margin-left: 20px;
}

.song_5 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_5_img mt_l5 add_cart5";
  grid-area: song_5;
  border-bottom: 1px solid #DADADA;
  margin-top: 60;
  margin-left: 20px;
}

.song_5_empty {
  grid-area: song_5;
}

.sidebar {
  display: grid;
  height: auto;
  grid-template-columns: 0.3fr 1fr 0.2fr;
  grid-template-rows: 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f;
  grid-template-areas: ". . ." ". order_sum ." ". credit_acc ." ". credits_req ." ". promo_code ." ". subtotal ." ". tax ." ". total ." ". payment ." ". express ." ". sales_final ." ". order_button ." ". policy .";
  background: #FAFAFA;
  grid-area: sidebar;
}

.order_sum {
  grid-area: order_sum;
}

.credit_acc {
  grid-area: credit_acc;
}

.credits_req {
  grid-area: credits_req;
}

.promo_code {
  grid-area: promo_code;
}

.subtotal {
  grid-area: subtotal;
}

.tax {
  grid-area: tax;
}

.total {
  grid-area: total;
}

.payment {
  grid-area: payment;
}

.express {
  grid-area: express;
}

.sales_final {
  grid-area: sales_final;
}

.order_button {
  grid-area: order_button;
}

.policy {
  grid-area: policy;
}

.social_icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "icons like_button follow_button";
}

.icons {
  display: inline;
  grid-area: icons;
}

.icons ul li {
  display: inline;
}

.like_button {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "fa-thumbs-up like num";
  height: 21px;
  width: 80px;
  border-radius: 2px;
  padding: 4px 2px 0px 6px;
  background-color: #456DB0;
  grid-area: like_button;
}

.fa-thumbs-up {
  width: 22px;
  height: 22px;
  text-align: justify;
  grid-area: fa-thumbs-up;
}

.like {
  color: #fff;
  text-align: justify;
  font-size: 13px;
  grid-area: like;
}

.num {
  color: #fff;
  text-align: justify;
  font-size: 13px;
  grid-area: num;
}

.follow_button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "twitter_follow_icon follow_text";
  height: 21px;
  width: 80px;
  border-radius: 2px;
  padding: 4px 2px 0px 6px;
  background-color: #3F98DD;
}

.follow_button .twitter_follow_icon {
  width: 22px;
  height: 22px;
  text-align: justify;
  grid-area: twitter_follow_icon;
}

.follow_text {
  color: #fff;
  text-align: justify;
  font-size: 13px;
  grid-area: follow_text;
}

.tester {
  grid-area: tester;
}

.info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid: "info_1 info_2 info_3 info_4 info_5";
  grid-area: info;
  background: #282828;
  color: #FAFAFA;
  padding: 25px 50px;
}

.info a:hover {
  color: #FAFAFA;
}

a {
  vertical-align: left;
  color: #919191;
}

.info_1 {
  align-content: center;
  grid-area: info_1;
}

.info_2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "resources" "company";
}

.resources {
  grid-area: resources;
}

.company {
  grid-area: company;
}

.info_3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "store" "extras";
}

.info_5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "subscribe" "email_input" "problem" "faq" "social_icons";
}

footer {
  background: #171717;
  grid-area: footer;
  color: #919191;
  padding: 10px;
}

.footer {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "copyrights terms language";
}

.copyrights {
  grid-area: copyrights;
}

.terms {
  font-size: 14px;
  grid-area: terms;
}

.terms a:hover {
  color: #43B1E6;
}

.language {
  grid-area: language;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 3fr 3fr 0.5fr 0.5fr;
  grid-template-areas: "nav nav nav" "my_cart my_cart sidebar" "save save sidebar" "info info info" "footer footer footer";
}

@media only screen and (min-width: 600px) {
  div.mobile_sticky {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.8fr 0.5fr;
    grid-template-areas: "nav" "my_cart" "sidebar" "save" "info" "footer";
  }
  .mobile_sticky {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .continue a {
    position: absolute;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 145px;
    height: 24px;
    left: 24px;
    top: calc(60% - 12px);
    color: #43B1E6;
    grid-area: continue;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 2000px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 3fr 0.5fr 0.5fr;
    grid-template-areas: "nav nav nav" "my_cart my_cart sidebar" "save save sidebar" "info info info" "footer footer footer";
  }
  .continue a {
    position: absolute;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 145px;
    height: 24px;
    left: 24px;
    top: calc(32% - 12px);
    color: #43B1E6;
    grid-area: continue;
    margin-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */