.dropdown {
  grid-area: products;
}

.dropdown ul {
  float: left;
}

.dropdown ul li {
  float: left;
  list-style: none;
  position: relative;
}

.dropdown ul li a {
  display: block;
  font-size: 16px;
}

.dropdown ul li a:hover {
  color: rgb(90, 187, 243);
}

.dropdown ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px solid #dadada;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px 5px 5px 5px;
}

.dropdown ul li:hover ul {
  display: block;
}

.dropdown ul li ul li a {
  width: 241px;
  padding: 10px 14px;
}

.dropdown ul li ul li a:hover {
  background: #FAFAFA;
  border-radius: 4px;
  color: rgb(90, 187, 243);
}

.songs {
  grid-area: songs;
}

.songs ul {
  float: left;
}

.songs ul li {
  float: left;
  list-style: none;
  position: relative;
}

.songs ul li a {
  display: block;
  font-size: 16px;
}

.songs ul li a:hover {
  color: rgb(90, 187, 243);
}

.songs ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px solid #dadada;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px 5px 5px 5px;
}

.songs ul li:hover ul {
  display: block;
}

.songs ul li ul li a {
  width: 241px;
  padding: 10px 14px;
}

.songs ul li ul li a:hover {
  background: #FAFAFA;
  border-radius: 4px;
  color: rgb(90, 187, 243);
}

.sounds {
  grid-area: sounds;
}

.sounds ul {
  float: left;
}

.sounds ul li {
  float: left;
  list-style: none;
  position: relative;
}

.sounds ul li a {
  display: block;
  font-size: 16px;
}

.sounds ul li a:hover {
  color: rgb(90, 187, 243);
}

.sounds ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px solid #dadada;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px 5px 5px 5px;
}

.sounds ul li:hover ul {
  display: block;
}

.sounds ul li ul li a {
  width: 241px;
  padding: 10px 14px;
}

.sounds ul li ul li a:hover {
  background: #FAFAFA;
  border-radius: 4px;
  color: rgb(90, 187, 243);
}

.more {
  grid-area: more;
}

.more ul {
  float: left;
}

.more ul li {
  float: left;
  list-style: none;
  position: relative;
}

.more ul li a {
  display: block;
  font-size: 16px;
}

.more ul li a:hover {
  color: rgb(90, 187, 243);
}

.more ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px solid #dadada;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px 5px 5px 5px;
}

.more ul li:hover ul {
  display: block;
}

.more ul li ul li a {
  width: 241px;
  padding: 10px 14px;
}

.more ul li ul li a:hover {
  background: #FAFAFA;
  border-radius: 4px;
  color: rgb(90, 187, 243);
}

nav {
  grid-area: nav;
  padding: 20px 10px 10px 10px;
}

.nav_inner {
  display: grid;
  height: 100%;
  margin: auto;
  grid-template-columns: 2.5fr 0.8fr 0.8fr 0.5fr 0.8fr 0.4fr 0.8fr 3.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav_logo products songs sounds pricing more covid . account cart support help_center";
  text-align: center;
}

.nav_logo {
  height: 100%;
  margin-top: -6px;
  grid-area: nav_logo;
}

.products {
  grid-area: products;
}

.sounds {
  grid-area: sounds;
}

.songs {
  grid-area: songs;
}

.pricing {
  grid-area: pricing;
}

.pricing a:hover {
  color: rgb(90, 187, 243);
}

.more {
  grid-area: more;
}

.covid {
  grid-area: covid;
  color: rgb(90, 187, 243);
}

.account {
  grid-area: account;
}

.account a:hover {
  color: rgb(90, 187, 243);
}

.cart {
  grid-area: cart;
}

.cart a:hover {
  color: rgb(90, 187, 243);
}

.support {
  grid-area: support;
}

.support a:hover {
  color: rgb(90, 187, 243);
}

.help_center {
  grid-area: help_center;
}

main {
  grid-area: main;
}

.my_cart {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.57fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
  grid-template-areas: "my_cart_h1" "song_1" "song_2" "continue" "save_later" "song_3" "song_4" "song_5" "song_5_empty";
}

.my_cart_h1 {
  grid-area: my_cart_h1;
}

.song_1 {
  grid-area: song_1;
}

.song_1_inner {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_1_img mt_logo credits";
}

.song_1_img {
  grid-area: song_1_img;
}

.mt_logo {
  grid-area: mt_logo;
}

.credits {
  grid-area: credits;
}

.song_2 {
  grid-area: song_2;
}

.song_2_inner {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_2_img chart credits2";
}

.song_2_img {
  grid-area: song_2_img;
}

.chart {
  grid-area: chart;
}

.continue {
  grid-area: continue;
}

.save_later {
  grid-area: save_later;
}

.song_3 {
  grid-area: song_3;
}

.song_3_inner {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_3_img mt_l add_cart";
}

.song_4 {
  grid-area: song_4;
}

.song_4_inner {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_4_img mt_l4 add_cart4";
}

.song_5 {
  grid-area: song_5;
}

.song_5_inner {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "song_5_img mt_l5 add_cart5";
}

.song_5_empty {
  grid-area: song_5;
}

.secondMain {
  background: rgb(187, 8, 8);
  grid-area: secondMain;
}

.sidebar {
  background: #FAFAFA;
  grid-area: sidebar;
}

.sidebar_inner {
  display: grid;
  height: 100%;
  grid-template-columns: 0.3fr 1fr 0.2fr;
  grid-template-rows: 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f;
  grid-template-areas: ". . ." ". order_sum ." ". credit_acc ." ". credits_req ." ". promo_code ." ". subtotal ." ". tax ." ". total ." ". payment ." ". express ." ". sales_final ." ". order_button ." ". policy .";
  padding-bottom: 10px;
}

.order_sum {
  grid-area: order_sum;
}

.credit_acc {
  grid-area: credit_acc;
}

.credits_req {
  grid-area: credits_req;
}

.promo_code {
  grid-area: promo_code;
}

.subtotal {
  grid-area: subtotal;
}

.tax {
  grid-area: tax;
}

.total {
  grid-area: total;
}

.payment {
  grid-area: payment;
}

.express {
  grid-area: express;
}

.sales_final {
  grid-area: sales_final;
}

.order_button {
  grid-area: order_button;
}

.policy {
  grid-area: policy;
}

.info {
  background: #282828;
  grid-area: info;
  color: #FAFAFA;
  padding: 40px 20px;
}

.info a:hover {
  color: #FAFAFA;
}

a {
  vertical-align: left;
  color: #919191;
}

.info_inner {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid: "info_1 info_2 info_3 info_4 info_5";
}

.info_1 {
  align-content: center;
  grid-area: info_1;
}

.info_2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "resources" "company";
}

.resources {
  grid-area: resources;
}

.company {
  grid-area: company;
}

.info_3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "store" "extras";
}

.info_5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "subscribe" "email_input" "problem" "faq" "social";
}

.social {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "social_icons likes follow";
}

footer {
  background: #171717;
  grid-area: footer;
  color: #919191;
}

.footer {
  display: grid;
  text-align: center;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "copyrights terms language";
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}

main {
  min-height: 100vh;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 5fr 2fr 0.3fr;
  grid-template-areas: "nav nav nav" "main main sidebar" "info info info" "footer footer footer";
  font-family: "Lato";
}

@media only screen and (max-width: 550px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 2fr 3fr 0.8fr;
    grid-template-areas: "nav" "main" "sidebar" "info" "footer";
  }
  nav {
    grid-area: nav;
  }
  .sidebar {
    grid-area: sidebar;
  }
  main {
    grid-area: main;
  }
  .info {
    grid-area: info;
  }
  footer {
    grid-area: footer;
  }
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}/*# sourceMappingURL=style.css.map */