.follow_button {
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "twitter_follow_icon follow_text";
    height: 21px;
    width: 80px;
    border-radius: 2px;
    padding: 4px 2px 0px 5px;
    background-color: #3F98DD;
    grid-area: follow_button;
}

.follow_button i:hover {
    color: #43B1E6;
}

.twitter_follow_icon {
    width: 22px;
    height: 22px;
    text-align:right;
    grid-area: twitter_follow_icon;
}

.follow_text {
    color: #fff;
    font-size: 14px;
    grid-area: follow_text;
}
.follow_text a p {
    color: #fff;
}

.follow_text:hover {
    color: #43B1E6;
}


